body {
    background-image: url("https://media.istockphoto.com/id/453187915/photo/green-poker-background.jpg?s=612x612&w=0&k=20&c=vyDFU6Z9Yv3kSfrbO4Fn2yDwWhUbEh7_1lw2nVsIMAs=");
    background-size: cover;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    /* weight: 100%; */
    height: 200px;
  }
  
  h1 {
    color: yellow;
  }
  
  p {
    color: white;
  }
  
  #message-el {
    font-style: italic;
  }
  
  #btn {
    background: goldenrod;
    border: none;
    border-radius: 2px;
    color: #016f32;
    display: block;
    font-weight: bold;
    height: 45px;
    margin: 5px auto 0 auto;
    width: 150px;
  }
  